.tabs {
  border-bottom: 1px solid var(--gray-light);

  .tab-item {
    text-align: center;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    user-select: none;

    &.selected {
      transition: border 150ms ease;
      border-bottom: 3px solid var(--blue);
    }

    &.disabled {
      opacity: 0.4;
      cursor: not-allowed;
    }
  }
}
