.wrapper {
  display: flex;
  flex-direction: column;
}

/* Header */
.header {
  display: flex;
  flex: 1;
  padding: 15px 0;
}

.third {
  display: flex;
  flex: 1;
}

.range-selector {
  display: flex;
  width: 200px;
  justify-content: space-around;
}

.range-selector ul {
  display: flex;
  width: 200px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.range-selector li {
  flex: 1;
}

.range-selector li.selected span {
  border-bottom: 2px solid black;
}

.range-changer {
  justify-content: space-between;
  max-width: 400px;
}

.current-date {
  flex: 4;
  text-align: center;
}

.range-angle {
  flex: 1;
}

.range-angle.left {
  text-align: right;
}

.range-angle.right {
  text-align: left;
}

/* Body */
.body {
  flex: 1;
  border-top: 1px solid black;
}

.body ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.body ul > li {
  text-align: center;
}

.week-column-header {
  flex: 2;
}

.day-column-header {
  flex: 14;
}

.hour-column-header {
  flex: 1;
}

/* Grid */
.grid {
  display: flex;
  border-top: 1px solid black;
  border-left: 1px solid black;
  flex-direction: column;
}

.hour-column {
  display: flex;
  flex: 1;
  flex-direction: column;
  border-right: 1px solid black;
}

.hour-column .hour-label {
  flex: 1;
  height: 50px;
  border-bottom: 1px solid black;
}

.week {
  display: flex;
  height: 75px;
  border-bottom: 1px solid black;
}

.day-cell {
  flex: 1;
  border-right: 1px solid black;
}

.day:last-child {
  border: none;
}

.week-grid, .day-grid {
  display: flex;
}

.day-column {
  flex: 2;
  border-right: 1px solid black;
}

.day-grid .day-column {
  flex: 14;
}

.half-hour {
  height: 25px;
  border-bottom: 1px solid black;
}
