.wrapper {
  .header {
    display: flex;
    flex: 1;
    padding: 15px 0;

    .third {
      display: flex;
      flex: 1;

      &.range-selector {
        display: flex;
        width: 200px;
        justify-content: space-around;

        ul {
          display: flex;
          width: 200px;
          padding: 0;
          margin: 0;
          list-style-type: none;

          li {
            flex: 1;

            &.selected span {
              border-bottom: 2px solid black;
            }
          }
        }
      }

      &.range-changer {
        justify-content: space-between;
        max-width: 400px;

        .current-date {
          flex: 4;
          text-align: center;
        }

        .range-angle {
          flex: 1;

          &.left {
            text-align: right;
          }

          &.right {
            text-align: left;
          }
        }
      }
    }
  }

  .body {
    flex: 1;
    border-top: 1px solid black;

    .column-headers {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: space-around;

      > li {
        text-align: center;
      }
    }

    .week-column-header {
      flex: 2;
    }

    .day-column-header {
      flex: 14;
    }

    .hour-column-header {
      flex: 1;
    }

    .grid {
      display: flex;
      border-top: 1px solid black;
      border-left: 1px solid black;
      flex-direction: column;

      .week {
        display: flex;
        height: 75px;
        border-bottom: 1px solid black;
      }

      .appointment {
        background-color: cornflowerblue;
      }

      .month-grid {
        .day-cell {
          flex: 1;
          border-right: 1px solid black;
        }
      }

      .week-grid, .day-grid {
        display: flex;

        .hour-column {
          display: flex;
          flex: 1;
          flex-direction: column;
          border-right: 1px solid black;

          .hour-label {
            flex: 1;
            height: 50px;
            border-bottom: 1px solid black;
            box-sizing: border-box;
          }
        }

        .day-column {
          flex: 2;
          border-right: 1px solid black;
          position: relative;

          .half-hour {
            height: 24px;
            border-bottom: 1px solid black;
          }

          .hour-based {
            box-sizing: border-box;
            width: 90%;
            z-index: 1;
            position: absolute;
          }
        }
      }

      .day-grid {
        .day-column {
          flex: 14;
        }
      }
    }
  }
}
