.colors {
  .color {
    height: 250px;
    border-radius: var(--border-radius);

    .swab {
      position: relative;
      color: white;
      height: 40%;
      border: 1px solid var(--gray-light);
      border-top-left-radius: var(--border-radius);
      border-top-right-radius: var(--border-radius);
      border-bottom: 0;

      > span {
        position: absolute;
        bottom: 10px;
        right: 10px;
      }

      &.blue-dark {
        background-color: var(--blue-dark);
      }

      &.blue {
        background-color: var(--blue);
      }

      &.gray-light {
        background-color: var(--gray-light);
        color: black;
      }

      &.gray {
        background-color: var(--gray);
      }

      &.black {
        background-color: var(--black);
      }

      &.success {
        background-color: var(--success);
      }

      &.error {
        background-color: var(--error);
      }
    }

    .description {
      border: 1px solid var(--gray-light);
      border-top: 0;
      padding: 15px;
      border-bottom-left-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
      height: 60%;

      p {
        line-height: 24px;
      }
    }
  }
}
