.tooltip {
  padding: 5px 7px;
  position: fixed;
  opacity: 0;
  background-color: black;
  color: white;
  border-radius: var(--border-radius);
  text-align: center;
  font-size: 1.4rem;
  letter-spacing: 0.5px;
  transition: all 150ms ease;

  &.hovered {
    opacity: 1;
    transition-delay: 200ms;
  }

  &:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
  }

  &[data-pos=top] {
    &:after {
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 4px solid #000;
      left: 50%;
      transform: translateX(-50%);
      bottom: -4px;
    }
  }

  &[data-pos=left] {
    &:after {
      border-top: 4px solid transparent;
      border-bottom: 4px solid transparent;
      border-left: 4px solid #000;
      right: -4px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &[data-pos=right] {
    &:after {
      border-top: 4px solid transparent;
      border-bottom: 4px solid transparent;
      border-right: 4px solid #000;
      left: -4px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &[data-pos=bottom] {
    &:after {
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-bottom: 4px solid #000;
      top: -4px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
