:global {
  .checkbox-label {
    position: relative;
    display: inline-block;

    &.disabled {
      cursor: not-allowed;
      opacity: 0.4;
    }

    .check {
      display: inline-block;
      width: 16px;
      height: 16px;
      border-radius: var(--border-radius);
      border: 1px solid var(--gray);
      vertical-align: middle;
      position: relative;

      svg {
        visibility: hidden;
      }
    }

    .checkbox {
      &:checked, &:not(:checked) {
        position: absolute;
        left: -9999px;
      }

      &:hover ~ .check:not(.disabled) {
        border: 1px solid var(--blue-dark);
      }
    }

    .checkbox:checked ~ .check {
      border: 1px solid var(--blue-dark);

      svg {
        visibility: visible;
        fill: var(--blue);
      }
    }

    .text {
      display: inline-block;
      vertical-align: middle;
      margin-left: 8px;
    }
  }
}
