:root {
  // font
  --font: 'proxima-nova', sans-serif;

  // Borders
  --border-radius: 3px;

  // Gutter
  --gutter: 20px;
  --vertical-gutter: 30px;

  // Colors
  --white: #FFFFFF;
  --blue-dark: #3590DC;
  --blue: #3EA5FB;
  --gray-light: #E8E8E8;
  --gray: #CCCCCC;
  --black: #3C3C3C;
  --green: #44BE2C;
  --red: #F72C2C;
  --red-dark: #C62525;
  --button-dropdown-primary-divider: #287CC1;
  --button-dropdown-secondary-divider: #CCCCCC;

  // Box Shadow
  --box-shadow: 0 0 2px var(--gray);
}
